.container {
    background-color: #F5F6FA;
    width: 280px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}


.infoCards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}


.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    cursor: pointer;
}

.button{
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(238, 236, 236, 0.575);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(160, 160, 160);
}

.button:active {
    background-color: rgba(238, 236, 236, 0.575);
    color: rgb(0, 0, 0);
}


.addCart {
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    height: 5%;
    justify-self: flex-end;
    cursor: pointer;

}


.addCart:hover {
    background-color: rgba(238, 236, 236, 0.575);
    color: rgb(0, 0, 0);
    font-size: 16px;
}