.container{
    margin: 5px 20px;
    display: flex;
    justify-content: space-between;


}

.avatarContainer {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    width: 40%;
    
}

.avatar {
    vertical-align: middle;
    width: 40x;
    height: 40px;
    border-radius: 50%;
    margin-left:-15px;
    cursor: pointer;
  }

.avatar:hover {
    transform: translate(-5px);
}

.icon {
    vertical-align: middle;
    font-size: larger;
}



.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    color: rgb(39, 39, 39);
    padding-left:5px ;
    font-size: 14px;
    cursor: pointer;
}

.commentNumber {
    width: 60%;
}


.commentNumber {
    white-space: nowrap;
}