.header {
    padding: 15px 30px;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left:-15px
  }

  .leftBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    gap: 20px; 
}

    .rightBox {
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    gap: 20px; }
    

    .leftBox > button {
        border: none;
        background-color: #ffffff;
        color: rgb(110, 110, 110);
        padding: 10px  ;
        margin-right: 10px;
    }

    .leftBox > button:hover {
        border-bottom: 1px solid #3225B1;
        color:black;
        font-size: bold;
    }