.infoCard {
    width: 250px;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid rgb(207, 207, 207);
    
}