.container {
    display: flex; 
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    width: 100%;
}

.leftSideBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}

.title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 5px;
}

.icon {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}


.rightSideBox {
    display: flex;
}

.button {
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;

    font-size: 20px;
    display: flex;
    padding-bottom: 10px;
    

}

.button:hover {
    background-color: rgba(238, 236, 236, 0.575);
    color: rgb(0, 0, 0);
    border: 1px solid grey;
}

